[submodule "AWS/DevOps/aws_devops_essentials/MyWebsiteRepo"]
	path = AWS/DevOps/aws_devops_essentials/MyWebsiteRepo
	url = https://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@github.com/thrilochanp/Under_A_Roof
